body {
  background-color: #999999;

}

#wrapper {
  margin: auto;
  width: 1200px;
  height: 1300px;
  background-color: #B5E6F2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 600px;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: top;
}

nav{
  grid-column: span 12;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 24px;
  margin: 0px;
  width: 1140px;
  height: 60px;
  margin-left: 0px;
  margin-top: 150px;
  margin-right: 0px;
  padding-left: 60px;
  background-color: white;
  padding-right: 0px;
}

ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin-right: 200px;
  background-color: white;
  padding: 10px;
  margin-top: 0px;
  font-family: helvetica, arial, sans-serif;
  font-size: 12pt;
}


#welcome {
grid-column: span 12;
display: block;
}

main {
  margin: 24px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 3000px;
  padding-bottom: 100px;
  margin-top: -300px;
}

#utopia {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

footer {
  grid-column: span 12;
  margin-top: -2920px;
  padding-right: 300px;
  color: white;
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

#coffee {
  margin-top: 25px;
  margin-left: 180px;
}

.summaryhead {
  margin-left: 700px;
  margin-top: -320px;
  font-family: helvetica, arial, sans-serif;
}

.summarybody {
  margin-left: 700px;
  width: 250px;
  padding-bottom: 15px;
  font-family: helvetica, arial, sans-serif;
}

#learnmore {
  font-family: helvetica, arial, sans-serif;
  margin-left: 700px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

a {
  text-decoration: none;
  color: #707070;
}

a:hover {
color: pink;
text-decoration: underline;
}
